body {
    font-family: 'Radio Canada', sans-serif;
    background-color: #011c44;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

.lrud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

.up-down {
    position: relative;
    bottom: 200px;
    left: 130px;
  }

  .left-right {
    position: relative;
    bottom: 80px;
    left: 200px;
  }


input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

calcbutton {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    background-color: #ae00ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: #0056b3;
}

calcbutton:hover {
    background-color: #b30095;
}

#result {
    margin-top: 20px;
}

#result p {
    margin: 5px 0;
    font-weight: 400;
}

/* ------Preferences Menu------ */

  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 10%;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


/* ------Display Unit Buttons------ */
  .radio-inputs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 100%;
    font-size: 15px;

  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 4px;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #334155;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #007bff;
    font-weight: 600;
  }